{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>主页</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/hazardpage.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">主页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/mainpage">首页</a></li>
            <li><a href="/nursemanagementpage">护士管理</a></li>
            <li><a href="/inspectionpage">巡查记录</a></li>
            <li><a href="/hazardpage">隐患记录</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎,{{username}},{{time}} </a></li> -->
          </ul>
          <!-- <form class="navbar-form navbar-right" action="/mainpage" method="post">
            <button type="submit" class="btn btn-danger">登出</button>
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>

        <!-- main -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">隐患记录</h1>

          <!-- search bar -->
          <div class="row">
            <div class="col-lg-6">
              <!-- <form action="/hazardpage" method="post">
              {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索报告提交时间">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="submit">新增记录</button>
                    </span>
                </div>
              </form> -->
              <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索报告提交时间">
                <span class="input-group-btn">
                  <button id="addRecord" class="btn btn-success">新增记录</button>
                </span>
              </div>

            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->



          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="addNurseModalLabel">新增护士</h4>
                    </div>
                    <form class="form-addRecord" action="/hazardpage" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                          <h5>护士工作证号</h5> 
                          <input type="idNurse" class="form-control" placeholder="" name="idNurse" autocomplete="" required autofocus>
                          <h5>报告提交时间</h5> 
                          <input type="hazardDateTime"  class="form-control" placeholder="" name="hazardDateTime" autocomplete="" required>
                          <h5>位置</h5> 
                          <input type="location" class="form-control" placeholder="" name="location" autocomplete="" required>                  
                          <h5>隐患信息</h5> 
                          <input type="hazardInfo" class="form-control" placeholder="" name="hazardInfo" autocomplete="" required>                       
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" >提交</button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="editRecordModal" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="editRecordModalLabel">新增护士</h4>
                    </div>
                    <form class="form-addRecord" action="/hazardpage" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <h5>护士工作证号</h5> 
                        <input id="EditNurseId" type="idNurse" class="form-control" placeholder="" name="idNurse" autocomplete="" required autofocus disabled>
                        <h5>报告提交时间</h5> 
                        <input id="EdithazardDateTime" type="hazardDateTime"  class="form-control" placeholder="" name="hazardDateTime" autocomplete="" required disabled>
                        <h5>位置</h5> 
                        <input type="location" class="form-control" placeholder="" name="location" autocomplete="" required>                  
                        <h5>隐患信息</h5> 
                        <input type="hazardInfo" class="form-control" placeholder="" name="hazardInfo" autocomplete="" required>                            
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" >提交</button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->





          <!-- list -->
          <h2 class="sub-header">隐患记录</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>护士工作证号</th>
                  <th>位置</th>
                  <th>隐患信息</th>
                  <th>报告提交时间</th>
                </tr>
              </thead>
              <tbody>
                {% for val in hazarddata.values %}
                <tr id="{{val.idNurse}}">
                  <td>{{val.idNurse}}</td>
                  <td>{{val.location}}</td>
                  <td>{{val.hazardInfo}}</td>
                  <td>{{val.hazardDateTime}}</td>
                  <td>
                    <!-- <form action="/hazardpage" method="post">
                    {% csrf_token %}
                      <button class="btn btn-primary" name="EditNurse" value="{{val.NurseWorkPermitNumber}}" type="submit">编辑</button>
                      <button class="btn btn-primary btn-danger" name="DeleteNurse" value="{{val.NurseWorkPermitNumber}}" type="submit">删除</button>
                    </form> -->
                    <button id="editRecord{{val.idNurse}}" class="btn btn-primary" name="EditRecord" value="{{val.idNurse}}" onclick="editRecord( '{{val.idNurse}}','{{val.hazardDateTime}}')" >编辑</button>
                    <button id="deleteRecord{{val.idNurse}}" class="btn btn-primary btn-danger" name="DeleteRecord" value="{{val.idNurse}}" onclick="deleteRecord('{{val.idNurse}}')">删除</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>  
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <!-- jsrsasign -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.6.0/jsrsasign-all-min.js"></script>    
</html>

<script>
  function deleteRecord(id){
    var deleteRecordButton = document.getElementById("deleteRecord"+id);
    deleteRecordButton.parentNode.parentNode.remove();
  }

  //显示新增记录窗口
  $("#addRecord").click(function () {
    $('#addRecordModal').modal();
  });

  //显示编辑记录窗口
  function editRecord(nurseid,date){
    $("#EditNurseId").attr("placeholder",nurseid);
    $("#EditHazardDateTime").attr("placeholder",date);
    $('#editRecordModal').modal();
  }

</script>
