{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>主页</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/inspectionpage.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">巡查记录</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a id="jumptomainpage" href="#">首页</a></li>
            <li><a id="jumptonursemanagementpage" href="#">护士管理</a></li>
            <li><a id="jumptoinspectionpage" href="#">巡查记录</a></li>
            <li><a id="jumptohazardpage" href="#">隐患记录</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎,{{username}},{{time}} </a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right" action="/mainpage" method="post">
            <button type="submit" class="btn btn-danger">登出</button>
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <!-- <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div> -->

        <!-- main -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">巡查记录</h1>

          <!-- search bar -->
          <div class="row">
            <div class="col-lg-6">
              <!-- <form action="/hazardpage" method="post">
              {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索报告提交时间">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="submit">新增记录</button>
                    </span>
                </div>
              </form> -->
              <div class="input-group">
                <!-- <input type="text" class="form-control" placeholder="搜索报告提交时间"> -->
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button id="addRecord" class="btn btn-success">新增记录</button>
                </span>
             </div>
            </div>
          </div><!-- /.row -->



          <div class="modal fade" id="confirmDeleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteRecordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title">该操作不可撤销，您确定要继续吗？</h4>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button class="btn btn-primary" id="confirmDeleteButton" ">确认</button>
                    </div>
                </div>
            </div>
          </div>          




          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="addNurseModalLabel">新增记录</h4>
                    </div>
                    <!-- <form class="form-addRecord" action="/inspectionpage" method="post"> -->
                    <div class="form-addRecord" name="addRecordForm">
                      <!-- {% csrf_token %} -->
                      <div class="modal-body">
                          <h5>护士工作证号</h5> 
                          <input id="add_idNurse" type="idNurse" class="form-control" placeholder="" name="idNurse"  autofocus>
                          <h5>报告提交时间</h5> 
                          <input id="add_inspectionDateTime" type="inspectionDateTime"  class="form-control" placeholder="" name="inspectionDateTime" >
                          <h5>位置</h5> 
                          <input id="add_location" type="location" class="form-control" placeholder="" name="location">                  
                          <h5>巡视信息</h5> 
                          <input id="add_inspectionInfo" type="inspectionInfo" class="form-control" placeholder="" name="inspectionInfo"  >                       
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" onclick="addRecord()">提交</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="editRecordModal" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="editRecordModalLabel">编辑记录</h4>
                    </div>
                    <!-- <form class="form-addRecord" action="/inspectionpage" method="post"> -->
                    <div class="form-addRecord" name="editRecordForm">
                      <!-- {% csrf_token %} -->
                      <div class="modal-body">
                        <h5>护士工作证号</h5> 
                        <input id="EditNurseId" type="idNurse" class="form-control" placeholder="" name="idNurse"  autofocus disabled>
                        <h5>报告提交时间</h5> 
                        <input id="EditInspectionDateTime" type="inspectionDateTime"  class="form-control" placeholder="" name="inspectionDateTime" disabled>
                        <h5>位置</h5> 
                        <input id="edit_location" type="location" class="form-control" placeholder="" name="location"  >                  
                        <h5>巡视信息</h5> 
                        <input id="edit_inspectionInfo" type="inspectionInfo" class="form-control" placeholder="" name="inspectionInfo" >                            
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" onclick="editRecord()">提交</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


          <!-- list -->
          <h2 class="sub-header">巡查记录</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>护士工作证号</th>
                  <th>位置</th>
                  <th>巡视信息</th>
                  <th>报告提交时间</th>
                  <th>编辑</th>
                  <th>删除</th>
                </tr>
              </thead>
              <tbody id="inspectioninfotable">
                {% for val in inspectiondata.values %}
                <tr id="tr_{{val.idNurse}}_{{val.inspectionDateTime}}">
                  <td>{{val.idNurse}}</td>
                  <td>{{val.location}}</td>
                  <td>{{val.inspectionInfo}}</td>
                  <td>{{val.inspectionDateTime}}</td>
                  <td>
                    <!-- <form action="/hazardpage" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary" name="EditNurse" value="{{val.NurseworkPermitNumber}}" type="submit">编辑</button>
                      <button class="btn btn-primary btn-danger" name="DeleteNurse" value="{{val.NurseworkPermitNumber}}" type="submit">删除</button>
                    </form> -->
                    <button id="editRecord{{val.idNurse}}_{{val.inspectionDateTime}}" class="btn btn-primary" name="EditRecord" value="{{val.idNurse}}" onclick="showEditRecordForm( '{{val.idNurse}}','{{val.inspectionDateTime}}' )">编辑</button>
                  </td>
                  <td>  
                    <button id="deleteRecord{{val.idNurse}}_{{val.inspectionDateTime}}" class="btn btn-primary btn-danger" name="DeleteRecord" value="{{val.idNurse}}" onclick="deleteRecord('{{val.idNurse}}','{{val.inspectionDateTime}}')">删除</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
  <!-- jsrsasign -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.6.0/jsrsasign-all-min.js"></script>
</html>

<script>

  $("#jumptomainpage").attr("href","/mainpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptonursemanagementpage").attr("href","/nursemanagementpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptoinspectionpage").attr("href","/inspectionpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptohazardpage").attr("href","/hazardpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));


  /*
  if(localStorage.getItem("nursemanagementpagerecordnum") == null ){
    localStorage.setItem("nursemanagementpagerecordnum",0); 
    localStorage.setItem("nursemanagementpagerecordnow",0); 
    let tmp1 = []
    localStorage.setItem("nursemanagementpagerecordlist",tmp1); 
  }
  if(localStorage.getItem("inspectionpagerecordnum") == null ){
    localStorage.setItem("inspectionpagerecordnum",0); 
    localStorage.setItem("inspectionpagerecordnow",0); 
    let tmp2 = []
    localStorage.setItem("inspectionpagerecordlist",tmp2); 
  }
  if(localStorage.getItem("hazardpagerecordnum") == null ){
    localStorage.setItem("hazardpagerecordnum",0); 
    localStorage.setItem("hazardpagerecordnow",0); 
    let tmp3 = []
    localStorage.setItem("hazardpagerecordlist",tmp3); 
  }*/

  //显示新增记录窗口
  $("#addRecord").click(function () {
    $('#addRecordModal').modal();
  });

  //显示编辑记录窗口
  function showEditRecordForm(nurseid,date){
    $("#EditNurseId").attr("placeholder",nurseid);
    $("#EditInspectionDateTime").attr("placeholder",date);
    $('#editRecordModal').modal();
  }

  // Axios
  axios.defaults.baseURL = 'http://43.140.211.71:8001/';
  // addRecord
  function addRecord(){
    let idNurse = document.getElementById("add_idNurse").value;
    let location = document.getElementById("add_location").value;
    let inspectionInfo = document.getElementById("add_inspectionInfo").value;
    let inspectionDateTime = document.getElementById("add_inspectionDateTime").value;

    //判断是否有数据为空
    if(idNurse == ""||location==""||inspectionInfo==""||inspectionDateTime==""){
      document.getElementById("add_idNurse").value = "";
      document.getElementById("add_inspectionDateTime").value = "";
      document.getElementById("add_location").value = "";
      document.getElementById("add_inspectionInfo").value = "";   
      alert("输入不应为空！")
      return;
    }


    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //设置dataPack
    let dataPack = {"idNurse":idNurse,"location":location,
    "inspectionInfo":inspectionInfo,"inspectionDateTime":inspectionDateTime};
    //发送post请求
    axios.post('inspectionpage', dataPack, config)
    .then(resp => {
        if(resp.data.state == "200"){
          //添加成功,修改表格信息
          document.getElementById("add_idNurse").value = "";
          document.getElementById("add_inspectionDateTime").value = "";
          document.getElementById("add_location").value = "";
          document.getElementById("add_inspectionInfo").value = "";
          //隐藏modal
          $('#addRecordModal').modal('hide');
          //添加tr
          var tbody = document.getElementById("inspectioninfotable");
          var tr =  document.createElement('tr');
          tbody.appendChild(tr);
          //添加td
          var datatoadd={"1":idNurse,"2":location,"3":inspectionInfo,"4":inspectionDateTime}
          for (var k in datatoadd) {
            var td = document.createElement('td');           
            tr.appendChild(td);      
            td.innerHTML = datatoadd[k]
          }
          var button_edit = document.createElement('button');
          var button_delete = document.createElement('button');
          var td1 = document.createElement('td');
          var td2 = document.createElement('td');
          td1.appendChild(button_edit)
          td2.appendChild(button_delete) 
          tr.appendChild(td1); 
          tr.appendChild(td2); 
          // 修改属性            
          tr.id = "tr_"+idNurse+"_"+inspectionDateTime;
          button_edit.id = "editRecord" + idNurse+"_"+inspectionDateTime;
          button_edit.className = "btn btn-primary";
          button_edit.innerHTML = "编辑";
          button_edit.onclick= ()=>showEditRecordForm(idNurse,inspectionDateTime )
          //button_edit.setAttribute('onclick','editRecord()');
          button_delete.id = "deleteRecord" + idNurse+"_"+inspectionDateTime;
          button_delete.className = "btn btn-primary btn-danger";
          button_delete.innerHTML = "删除";
          button_delete.onclick= ()=>deleteRecord(idNurse,inspectionDateTime )
          //button_delete.setAttribute('onclick','deleteRecord()');

          // 添加新增信息至localStorage中
          /*
          let recordnum = parseInt(localStorage.getItem("inspectionpagerecordnum")); 
          if(recordnum < 20){   //储存最近的20条记录
          //  var dicttmp = {"type":"addRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
          //                "time":"{{time}}"  };
            var dicttmp = ["addRecord",idNurse,location,inspectionInfo,inspectionDateTime,"{{time}}"];
            recordnum += 1;
            localStorage.setItem("inspectionpagerecord"+recordnum,dicttmp.toString());
            localStorage.setItem("inspectionpagerecordnum",recordnum);
            localStorage.setItem("inspectionpagerecordnow", parseInt(localStorage.getItem("inspectionpagerecordnow"))+1);
            var inspectionpagerecordlist = localStorage.getItem("inspectionpagerecordlist")
            if (inspectionpagerecordlist == ""){
              inspectionpagerecordlist = []
            }
            else{
              inspectionpagerecordlist = inspectionpagerecordlist.split(",")
            }

            inspectionpagerecordlist.push(recordnum)
            localStorage.setItem("inspectionpagerecordlist",  inspectionpagerecordlist.toString() );
          }
          else{   //recordnum =20
            //var dicttmp = {"type":"addRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
            //              "time":"{{time}}" } ;
            var dicttmp = ["addRecord",idNurse,location,inspectionInfo,inspectionDateTime,"{{time}}"];
            let recordnow = (parseInt(localStorage.getItem("inspectionpagerecordnow")) % 20) + 1;
            localStorage.setItem("inspectionpagerecord"+recordnow,dicttmp.toString());
            localStorage.setItem("inspectionpagerecordnow", recordnow);
            var recordlisttmp=[];
            var k=recordnow % 20 + 1;
            for(var i=0;i<20;i++){
              recordlisttmp.push(k);
              k = k%20 + 1;
            }
            localStorage.setItem("inspectionpagerecordlist", recordlisttmp.toString() );
          }   */

        } 
        else {
          console.log("状态码错误")
          document.getElementById("add_idNurse").value = "";
          document.getElementById("add_inspectionDateTime").value = "";
          document.getElementById("add_location").value = "";
          document.getElementById("add_inspectionInfo").value = "";
          alert("添加失败!")
        }      
    })
    .catch(resp => {
      console.log("异常错误")
      console.log(resp)
      //添加失败,清空input,留在原页面
      document.getElementById("add_idNurse").value = "";
      document.getElementById("add_inspectionDateTime").value = "";
      document.getElementById("add_location").value = "";
      document.getElementById("add_inspectionInfo").value = "";
      alert("添加失败!")
    });
  }

  function editRecord(){
    let idNurse = document.getElementById("EditNurseId").placeholder;
    let inspectionDateTime = document.getElementById("EditInspectionDateTime").placeholder;
    let location = document.getElementById("edit_location").value;
    let inspectionInfo = document.getElementById("edit_inspectionInfo").value;

    console.log(inspectionDateTime)

    if(location == ""||inspectionInfo==""){
      document.getElementById("edit_location").value = "";
      document.getElementById("edit_inspectionInfo").value = "";   
      alert("输入不应为空！")
      return;
    }

    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //设置dataPack
    let dataPack = {"location":location,"inspectionInfo":inspectionInfo};
    //发送post请求
    axios.put('inspectionpage?idNurse='+idNurse+"&inspectionDateTime="+encodeURIComponent(inspectionDateTime), dataPack, config)
    .then(resp => {
        //console.log(resp.data.data)
        if(resp.data.state == "200" ){
          //添加成功,修改表格信息
          console.log(resp.data.state)
          document.getElementById("edit_location").value = "";
          document.getElementById("edit_inspectionInfo").value = "";
          //隐藏modal
          $('#editRecordModal').modal('hide');
          document.getElementById("tr_"+idNurse+"_"+inspectionDateTime).children[1].innerHTML = location;
          document.getElementById("tr_"+idNurse+"_"+inspectionDateTime).children[2].innerHTML = inspectionInfo;

          /*
          // 添加新增信息至localStorage中
          let recordnum = localStorage.getItem("inspectionpagerecordnum"); 
          if(recordnum < 20){   //储存最近的20条记录
            var dicttmp = {"type":"editRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
                          "time":"{{time}}"  };
            recordnum += 1;
            localStorage.setItem("inspectionpagerecord"+recordnum,dicttmp);
            localStorage.setItem("inspectionpagerecordnum",recordnum);
            localStorage.setItem("inspectionpagerecordnow", localStorage.getItem("inspectionpagerecordnow")+1);
            var inspectionpagerecordlist = localStorage.getItem("inspectionpagerecordlist")
            inspectionpagerecordlist.push(recordnum)
            localStorage.setItem("inspectionpagerecordlist",  inspectionpagerecordlist );
          }
          else{   //recordnum =20
            var dicttmp = {"type":"editRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
                          "time":"{{time}}" } ;
            recordnow = ((localStorage.getItem("inspectionpagerecordnow")) % 20) + 1;
            localStorage.setItem("inspectionpagerecord"+recordnow,dicttmp);
            localStorage.setItem("inspectionpagerecordnow", recordnow);
            var recordlisttmp=[];
            var k=recordnow % 20 + 1;
            for(var i=0;i<20;i++){
              recordlisttmp.push(k);
              k = k%20 + 1;
            }
            localStorage.setItem("inspectionpagerecordlist", recordlisttmp );
          }   */

        } 
        else {
          //添加失败
          document.getElementById("edit_location").value = "";
          document.getElementById("edit_inspectionInfo").value = "";
          alert("修改失败!")
        }      
    })
    .catch(resp => {
      //添加失败,清空input,留在原页面
      document.getElementById("edit_location").value = "";
      document.getElementById("edit_inspectionInfo").value = "";
      alert("修改失败!")
    });
  }






  //deleteNurse 
  function confirmDeleteRecord(idNurse,inspectionDateTime){
    $('#confirmDeleteRecordModal').modal('hide');

    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //发送delete请求
    axios.delete('inspectionpage?idNurse='+idNurse+"&inspectionDateTime="+inspectionDateTime, config)
    .then(resp => {
        if(resp.data.state == "200" ){
          var deleteRecordButton = document.getElementById("deleteRecord"+idNurse+"_"+inspectionDateTime);
          deleteRecordButton.parentNode.parentNode.remove();

          /*
          // 添加新增信息至localStorage中
          let recordnum = localStorage.getItem("inspectionpagerecordnum"); 
          if(recordnum < 20){   //储存最近的20条记录
            var dicttmp = {"type":"deleteRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
                          "time":"{{time}}"};
            recordnum += 1;
            localStorage.setItem("inspectionpagerecord"+recordnum,dicttmp);
            localStorage.setItem("inspectionpagerecordnum",recordnum);
            localStorage.setItem("inspectionpagerecordnow", localStorage.getItem("inspectionpagerecordnow")+1);
            var inspectionpagerecordlist = localStorage.getItem("inspectionpagerecordlist")
            inspectionpagerecordlist.push(recordnum)
            localStorage.setItem("inspectionpagerecordlist",  inspectionpagerecordlist );
          }
          else{   //recordnum =20
            var dicttmp = {"type":"deleteRecord", "idNurse":idNurse,"location":location,"inspectionInfo":inspectionInfo, "inspectionDateTime":inspectionDateTime,
                          "time":"{{time}}" } ;
            recordnow = ((localStorage.getItem("inspectionpagerecordnow")) % 20) + 1;
            localStorage.setItem("inspectionpagerecord"+recordnow,dicttmp);
            localStorage.setItem("inspectionpagerecordnow", recordnow);
            var recordlisttmp=[];
            var k=recordnow % 20 + 1;
            for(var i=0;i<20;i++){
              recordlisttmp.push(k);
              k = k%20 + 1;
            }
            localStorage.setItem("inspectionpagerecordlist", recordlisttmp );
          }   */

        } 
        else {
        }      
    })
    .catch(resp => {
    });

  }

  function deleteRecord(idNurse,inspectionDateTime){
    $('#confirmDeleteRecordModal').modal();
    document.getElementById("confirmDeleteButton").onclick = ()=>confirmDeleteRecord(idNurse,inspectionDateTime);

  }



</script>