{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理端登录</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/logpage.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理人员平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input name="username" type="text" placeholder="用户名" class="form-control">
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="密码" class="form-control">
            </div>           
            <button name="login" value="1" type="submit" class="btn btn-success">登录</button>
            <button name="register" value="1" type="submit" class="btn btn-warning">注册</button>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>公告</h1>
        <p>今天新增病患3人</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">详情&raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>内容1</h2>
          <p>你好 </p>
          <p><a class="btn btn-default" href="#" role="button">详情&raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>内容2</h2>
          <p>你好</p>
          <p><a class="btn btn-default" href="#" role="button">详情&raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>内容3</h2>
          <p>你好</p>
          <p><a class="btn btn-default" href="#" role="button">详情&raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 医院管理系统.</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
