{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理端登录</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/logpage.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">InfBabyCare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right" name="signform">  
            <div class="form-group">
              <input id="inputUsername" name="username" type="text" placeholder="用户名" class="form-control">
            </div>
            <div class="form-group">
              <input id="inputPassword" name="password" type="password" placeholder="密码" class="form-control">
            </div>           
            <button name="login" class="btn btn-success" onclick="login()">登录</button>
            <button name="register" class="btn btn-warning" onclick="register()">注册</button>
          </div>
        </div
      </div>
    </nav>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://pic1.zhimg.com/80/v2-6943c236cc47230c547ab69c17fdf865_1440w.jpeg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>住院部2栋今日完成装修</h1>
              <p>12月10日19：00，我院住院部2栋正式完成装修，预计将于明年1月投入使用</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'img/logpage_bg_1.png' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>“天使之旅-贵州先心病患儿筛查救助行动”圆满成功</h1>
              <p>我院与中国红十字基金会联合开展“天使之旅-贵州先心病患儿筛查救助行动”，筛选出73名符合手术指征的患儿，第一批17名患儿已完成手术。</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'img/logpage_bg_2.png' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>患者家属向我院张医生团队致以感谢</h1>
              <p>12月15日，一名3岁患儿在我院张医生团队长达1个月的努力下，最终完成白血病二期手术，患者家属向张医生团队致以感谢</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <div class="container">
      <footer>
        <p>&copy; InfBabyCare.</p>
      </footer>
    </div> <!-- /container -->
  </body>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- jsrsasign -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.6.0/jsrsasign-all-min.js"></script>
</html>


<script>
  // Axios
  axios.defaults.baseURL = 'http://43.140.211.71:8001/';
  //login && register buttons
  function register(){
    window.location.href = axios.defaults.baseURL + "registerpage";
  }  
  // login
  function login(){
    let username = document.getElementById("inputUsername").value;
    let password = document.getElementById("inputPassword").value;
    let header = {
      'typ': 'JWT',
      'alg': 'HS256'
    };
    let payload = {
      "username": username,
      "password": password
    };
    let sHeader = JSON.stringify(header);
    let sPayload = JSON.stringify(payload);
    let sJWT = KJUR.jws.JWS.sign("HS256", sHeader, sPayload, {utf8: "紫者，妪也，紫大寿，强宴宾客于迷途家。肴即尽，取陈酒，觞诸宾。宾皆不敢，尽却之。唯天子许，饮三壶，大醉。紫甚欣慰，请起舞悦众宾。众思谢之恐死，苦不敢言。遂舞。笙箫起，笛音生，紫披发旖旎，自思艳绝。舞毕，遽顾问于客。客皆骇然称善。唯天子醉曰：“笑煞人，老妪何惺惺然作处子态!”鞭于庭。"});
    let dataPack = {login_jwt: sJWT};

    axios.post('', dataPack)
    .then(resp => {
        if(resp.data.state == 200 && resp.data.data[0].jwt != ""){
          localStorage.setItem("jwt",resp.data.data[0].jwt);
          //登录成功，跳转至主页面
          window.location.href = axios.defaults.baseURL + "mainpage?username="+username + "&jwt=" + resp.data.data[0].jwt;
        } 
        else {
          //登录失败,清空input,留在原页面
          document.getElementById("inputUsername").value = "";
          document.getElementById("inputPassword").value = "";
          alert("登录失败")
        }      
    })
    .catch(resp => {
      //出现错误,清空input,留在原页面
      document.getElementById("inputUsername").value = "";
      document.getElementById("inputPassword").value = "";
      alert("登录失败")
    });
  } 
</script> 