{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shorcut icon" href="{% static 'img/ran.ico' %}" >
    <title>主页</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/mainpage.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">首页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a id="jumptomainpage" href="#">首页</a></li>
            <li><a id="jumptonursemanagementpage" href="#">护士管理</a></li>
            <li><a id="jumptoinspectionpage" href="#">巡查记录</a></li>
            <li><a id="jumptohazardpage" href="#">隐患记录</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎,{{username}},{{time}} </a></li>
          </ul>
          <div class="navbar-form navbar-right" id="logoutform"></form>
            <button name="logout" class="btn btn-danger" onclick="logout()">登出</button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">首页</h1>

          <!-- Carousel
          ================================================== -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="first-slide" src="https://pic1.zhimg.com/80/v2-6943c236cc47230c547ab69c17fdf865_1440w.jpeg" alt="First slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>住院部2栋今日完成装修</h1>
                    <p>12月10日19：00，我院住院部2栋正式完成装修，预计将于明年1月投入使用</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.carousel -->

        </div>
    </div>

  </body>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- jsrsasign -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.6.0/jsrsasign-all-min.js"></script>
</html>

<script>

  $("#jumptomainpage").attr("href","/mainpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptonursemanagementpage").attr("href","/nursemanagementpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptoinspectionpage").attr("href","/inspectionpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));
  $("#jumptohazardpage").attr("href","/hazardpage?username="+{{username}}+"&jwt="+localStorage.getItem("jwt"));

  axios.defaults.baseURL = 'http://43.140.211.71:8001/';
  //logout
  function logout(){
    window.location.href = axios.defaults.baseURL ;
    localStorage.setItem("jwt","0");   //jwt为0代表其为空
  }  
</script>  