{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>主页</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/nursemanagementpage.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">主页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/mainpage">首页</a></li>
            <li><a href="/nursemanagementpage">护士管理</a></li>
            <li><a href="/inspectionpage">巡查记录</a></li>
            <li><a href="/hazardpage">隐患记录</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎,{{username}},{{time}} </a></li> -->
          </ul>
          <!-- <form class="navbar-form navbar-right" action="/mainpage" method="post">
            <button type="submit" class="btn btn-danger">登出</button>
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>

        <!-- main -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">护士管理</h1>

          <!-- search bar -->
          <div class="row">
            <div class="col-lg-6">
              <!-- <form action="/nursemanagementpage" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索姓名/工作证号">
                    <span class="input-group-btn">
                      <button id="addNurse" class="btn btn-success" type="submit" >新增护士</button>
                    </span>
                </div>
              </form> -->

              <div class="input-group">
                  <input type="text" class="form-control" placeholder="搜索姓名/工作证号">
                  <span class="input-group-btn">
                    <button id="addNurse" class="btn btn-success"">新增护士</button>
                  </span>
              </div><!-- /input-group -->

            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="addNurseModal" tabindex="-1" role="dialog" aria-labelledby="addNurseModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="addNurseModalLabel">新增护士</h4>
                    </div>
                    <!-- <form class="form-addNurse" action="/nursemanagementpage" method="post"> -->
                    <div class="form-addNurse" name="addNurseForm">  
                      <!-- {% csrf_token %} -->
                      <div class="modal-body">
                          <h5>工作证号</h5> 
                          <input id="add_NurseWorkPermitNumber" type="NurseWorkPermitNumber" class="form-control" placeholder="***" name="NurseWorkPermitNumber" autocomplete="" required autofocus>
                          <h5>工作证密码</h5> 
                          <input id="add_EditNurseWorkPermitPassword" type="NurseWorkPermitPassword"  class="form-control" placeholder="***" name="NurseWorkPermitPassword" autocomplete="" required>
                          <h5>护士姓名</h5> 
                          <input id="add_NurseName" type="NurseName" class="form-control" placeholder="张三" name="NurseName" autocomplete="" required>                  
                          <h5>用户名</h5> 
                          <input id="add_Username" type="username" class="form-control" placeholder="张三" name="username" autocomplete="" required>
                          <h5>密码</h5> 
                          <input id="add_Password" type="password" class="form-control" placeholder="***" name="password" autocomplete="" required>                          
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" onclick="addNurse()"=>提交</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="modal fade" id="editNurseModal" tabindex="-1" role="dialog" aria-labelledby="editNurseModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        <h4 class="modal-title" id="editNurseModalLabel">编辑护士</h4>
                    </div>
                    <!-- <div class="form-addNurse" action="/nursemanagementpage" method="post"> -->
                    <div class="form-editNurse" name="editNurseForm">  
                      <!-- {% csrf_token %} -->
                      <div class="modal-body">
                          <h5>工作证号</h5> 
                          <input id="EditNurseWorkPermitNumber" type="NurseWorkPermitNumber" class="form-control" placeholder="工作证号" name="NurseWorkPermitNumber" disabled>
                          <h5>工作证密码</h5> 
                          <input id="EditNurseWorkPermitPassword" type="NurseWorkPermitPassword"  class="form-control" placeholder="工作" name="NurseWorkPermitPassword" disabled>
                          <h5>护士姓名</h5> 
                          <input id="edit_NurseName" type="NurseName" class="form-control" placeholder="张三" name="NurseName" autocomplete="" required autofocus>
                          <h5>用户名</h5> 
                          <input id="edit_Username" type="username" class="form-control" placeholder="张三" name="username" autocomplete="" required>
                          <h5>密码</h5> 
                          <input id="edit_Password" type="password" class="form-control" placeholder="***" name="password" autocomplete="" required>                          
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" onclick="editNurse()">提交</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->



          <!-- list -->
          <h2 class="sub-header">护士管理</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>护士姓名</th>
                  <th>工作证号</th>
                  <th>工作证密码</th>
                  <th>用户名</th>
                  <th>密码</th>
                  <th>编辑</th>
                  <th>删除</th>
                </tr>
              </thead>
              <tbody id="nurseinfotable">
                {% for val in nursedata.values %}
                <tr id="{{val.NurseWorkPermitNumber}}">
                  <td>{{val.NurseName}}</td>
                  <td>{{val.NurseWorkPermitNumber}}</td>
                  <td>{{val.NurseWorkPermitPassword}}</td>
                  <td>{{val.username}}</td>
                  <td>{{val.password}}</td>
                  <td>
                    <button id="editNurse{{val.NurseWorkPermitNumber}}" class="btn btn-primary" onclick="showEditNurseForm('{{val.NurseWorkPermitNumber}}','{{val.NurseWorkPermitPassword}}' )">编辑</button>
                  </td>
                  <td>
                    <button id="deleteNurse{{val.NurseWorkPermitNumber}}" class="btn btn-primary btn-danger" name="DeleteNurse" value="{{val.NurseWorkPermitNumber}}" onclick="deleteNurse({{val.NurseWorkPermitNumber}})">删除</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <!-- jsrsasign -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.6.0/jsrsasign-all-min.js"></script>  
</html>


<script>
  //显示新增护士窗口
  $("#addNurse").click(function () {
    $('#addNurseModal').modal();
  });
  //显示编辑护士窗口
  function showEditNurseForm(number,password){
    $("#EditNurseWorkPermitNumber").attr("placeholder",number);
    $("#EditNurseWorkPermitPassword").attr("placeholder",password);
    $('#editNurseModal').modal();
  }
  // Axios
  axios.defaults.baseURL = 'http://43.140.211.71:8001/';
  // addNurse
  function addNurse(){
    let NurseWorkPermitNumber = document.getElementById("add_NurseWorkPermitNumber").value;
    let NurseWorkPermitPassword = document.getElementById("add_EditNurseWorkPermitPassword").value;
    let NurseName = document.getElementById("add_NurseName").value;
    let username = document.getElementById("add_Username").value;
    let password = document.getElementById("add_Password").value;

    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //设置dataPack
    let dataPack = {"WorkPermitNumber":NurseWorkPermitNumber,"workPermitPassword":NurseWorkPermitPassword,
          "name":NurseName,"username":username,"password":password};
    //发送post请求
    axios.post('nursemanagementpage', dataPack, config)
    .then(resp => {
        if(resp.data.data != undefined || 1){
          //添加成功,修改表格信息
          document.getElementById("add_NurseWorkPermitNumber").value = "";
          document.getElementById("add_EditNurseWorkPermitPassword").value = "";
          document.getElementById("add_NurseName").value = "";
          document.getElementById("add_Username").value = "";
          document.getElementById("add_Password").value = "";
          //添加tr
          var tbody = document.getElementById("nurseinfotable");
          var tr =  document.createElement('tr');
          tbody.appendChild(tr);
          //添加td
          var datatoadd={"1":NurseWorkPermitNumber,"2":NurseWorkPermitPassword,"3":NurseName,"4":username,"5":password}
          for (var k in datatoadd) {
            var td = document.createElement('td');           
            tr.appendChild(td);      
            td.innerHTML = datatoadd[k]
          }
          var button_edit = document.createElement('button');
          var button_delete = document.createElement('button');
          var td1 = document.createElement('td');
          var td2 = document.createElement('td');
          td1.appendChild(button_edit)
          td2.appendChild(button_delete) 
          tr.appendChild(td1); 
          tr.appendChild(td2); 
          // 修改属性             TODO:button的onclick属性还没有添加！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
          tr.id = NurseWorkPermitNumber;
          button_edit.id = "editNurse" + NurseWorkPermitNumber;
          button_edit.className = "btn btn-primary";
          button_edit.innerHTML = "编辑";
          //button_edit.onclick = "editNurse()"
          button_edit.setAttribute('onclick','editNurse()');
          button_delete.id = "deleteNurse" + NurseWorkPermitNumber;
          button_delete.className = "btn btn-primary btn-danger";
          button_delete.innerHTML = "删除";
          //button_delete.onclick = "deleteNurse()"
          button_delete.setAttribute('onclick','deleteNurse()');
          //隐藏modal
          console.log(td1)
          $('#addNurseModal').modal('hide');
        } 
        else {
          document.getElementById("add_NurseWorkPermitNumber").value = "";
          document.getElementById("add_EditNurseWorkPermitPassword").value = "";
          document.getElementById("add_NurseName").value = "";
          document.getElementById("add_Username").value = "";
          document.getElementById("add_Password").value = "";
        }      
    })
    .catch(resp => {
      //添加失败,清空input,留在原页面
      document.getElementById("add_NurseWorkPermitNumber").value = "";
      document.getElementById("add_EditNurseWorkPermitPassword").value = "";
      document.getElementById("add_NurseName").value = "";
      document.getElementById("add_Username").value = "";
      document.getElementById("add_Password").value = "";
    });
  }

  // editNurse  TODO!!!!!!!!!!!!!1

  function editNurse(){
    let NurseWorkPermitNumber = document.getElementById("EditNurseWorkPermitNumber").placeholder;
    let NurseName = document.getElementById("edit_NurseName").value;
    let username = document.getElementById("edit_Username").value;
    let password = document.getElementById("edit_Password").value;

    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //设置dataPack
    let dataPack = {"name":NurseName,"username":username,"password":password};
    //发送post请求
    axios.put('nursemanagementpage?NurseWorkPermitNumber=' + NurseWorkPermitNumber, dataPack, config)
    .then(resp => {
        console.log(resp.data)
        if(resp.data != undefined ){
          //添加成功,修改表格信息
          console.log(resp.data)
          document.getElementById("edit_NurseName").value = "";
          document.getElementById("edit_Username").value = "";
          document.getElementById("edit_Password").value = "";
          document.getElementById("NurseWorkPermitNumber")[0].value = NurseName;
          document.getElementById("NurseWorkPermitNumber")[3].value = username;
          document.getElementById("NurseWorkPermitNumber")[4].value = password;
          //隐藏modal
          console.log(resp.data)
          $('#editNurseModal').modal('hide');
        } 
        else {
          //添加失败
          document.getElementById("edit_NurseName").value = "";
          document.getElementById("edit_Username").value = "";
          document.getElementById("edit_Password").value = "";
        }      
    })
    .catch(resp => {
      //添加失败,清空input,留在原页面
      document.getElementById("edit_NurseName").value = "";
      document.getElementById("edit_Username").value = "";
      document.getElementById("edit_Password").value = "";
    });
  }






  //deleteNurse 
  function deleteNurse(NurseWorkPermitNumber){
    //在header中添加jwt
    let config = {
      headers:{
        loginjwt : localStorage.getItem("jwt")
      }
    };
    //发送delete请求
    axios.delete('nursemanagementpage/' + NurseWorkPermitNumber, config)
    .then(resp => {
        if(resp.data.data != undefined || 1){
          var deleteNurseButton = document.getElementById("deleteNurse"+id);
          deleteNurseButton.parentNode.parentNode.remove();
        } 
        else {
        }      
    })
    .catch(resp => {
    });

  }


</script>